body {
    box-sizing: border-box; /* El tamaño de las cajas refleja el borde */
    background-color: bisque;
    margin: 0; /* No hay márgenes y todo está extendido hacia los lados */
    font-family: sans-serif;
    padding: 80px 20px 0; /* Margen: superior inferior, el tercero va a ser el de la derecha e izquierda */
}

.encabezado {
    position: fixed;
    background-color: #076AF0; /* RGB */
    top: 0; /* Margen superior = 0 */
    left: 0;
    height: 90px;
    width: 100%;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    max-width: 992px; /* Monitor ancho */
    margin: 0 auto; /* Margen a los lados 0 y arriba y abajo auto */
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px; /* Margen interno */
    line-height: 90px;
}

.nav-menu {
    display: flex;
    font-size: 18px;
    line-height: 90px;
    list-style: none;
}

.nav-menu-item {
    margin: 0 10px; /* Arriba/Abajo, lados */
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 6px;
}

.nav-menu-link:hover {
    background-color: #024070;
    transition: 0.5s;
}

aside {
    position: fixed;
    background-color: aquamarine;
    top: 90px; /* Para que baje */
    left: 0;
    width: 20%; /* 20% del ancho de la página */
    bottom: 20px;
}

section {
    position: fixed;
    overflow-y: scroll;
    background-color: whitesmoke;
    top: 90px;
    left: 20%;
    bottom: 20px;
    right: 0;
}

footer {
    position: fixed;
    background-color: black;
    color: white;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
}

tr:nth-child(odd) { /* tr = table row / odd: impar, even: par */
    background-color: grey;
    color: black;
}

tr:nth-child(even) {
    background-color: green;
    color: yellow;
}
